body,h1,h2,p {
    margin: 0;
    font-family: sans-serif;
}

section {
    width: 100vw;
    height: 70vh;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
        background-color: #eee;
    }
}

.brand {
    display: grid;
    grid-template-areas: "logo title" "logo slogan";

    img {
        grid-area: logo;
        width: 100px;
        height: auto;
        margin-right: 24px;
    }

    h1 {
        grid-area: title;
        align-self: end;
    }

    p {
        grid-area: slogan;
    }
}

.card {
    width: 40%;
    height: 70%;
    max-width: 456px;
    max-height: 624px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    margin: 24px;

    img {
        width: 100%;
        height: calc(100% - 110px);
        object-fit: cover;
        border-radius: inherit;
    }

    h2,
    p,
    a {
        padding: 8px;
        padding-bottom: 0;
    }

    p {
        opacity: .6;
    }
    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

form {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 48px;
    border: 1px solid #eee;

    p {
        margin-bottom: 16px;
    }

    label {
        display: block;
        opacity: .6;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 12px;
    }
}