:root {
    --brand: #5396be;
    --on-brand: white;
    --background: white;
    --surface: white;
    --on-surface: #222;

    background-color: var(--background);
}

body {
    position: relative;
}

body,h1,h2,p {
    margin: 0;
    font-family: sans-serif;
}

section {
    width: 100vw;
    height: 70vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    display: grid;
    grid-template-areas: "logo title" "logo slogan";
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, var(--background) 50%, transparent);
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;

    img {
        grid-area: logo;
        width: 100px;
        height: auto;
        margin-right: 24px;
    }

    h1 {
        grid-area: title;
        align-self: end;
    }

    p {
        grid-area: slogan;
    }

    .cta {
        position: absolute;
        top: 100%;
        left: 50%;
        width: max-content;
        transform: translate(-50%, -50%);
        padding: 12px 24px;
        background-color: var(--brand);
        border-radius: 4px;
        color: var(--on-brand);
        font-size: .8rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-decoration: none;
        cursor: pointer;
    }
}

.card {
    width: 40%;
    height: 70%;
    max-width: 456px;
    max-height: 624px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: var(--surface);
    color: var(--on-surface);
    margin: 24px;

    img {
        width: 100%;
        height: calc(100% - 110px);
        object-fit: cover;
        border-radius: inherit;
    }

    h2,
    p,
    a {
        padding: 8px;
        padding-bottom: 0;
    }

    p {
        opacity: .6;
    }
    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

.cards {
    background-color: color-mix(in srgb, var(--surface) 20%, transparent);
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 48px;
    border: 1px solid #eee;
    width: 80%;
    background-color: var(--surface);
    color: var(--on-surface);
    max-width: 512px;

    p {
        margin-bottom: 16px;
    }

    label {
        display: block;
        opacity: .6;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 12px;
    }

    button {
        background-color: var(--brand);
        border: 1px solid var(--brand);
        color: var(--on-brand);
        font: inherit;
        padding: 12px 24px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: none;
    }

    button:hover,
    button:focus {
        background-color: color-mix(in srgb, var(--brand) 90%, var(--on-brand));
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    button:active {
        background-color: color-mix(in srgb, var(--brand) 80%, var(--on-brand));
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 640px) {

    section {
        min-height: 800px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 80%;
        height: auto;
        max-width: none;
        max-height: none;
    }
}